<div>
    <center>
        <header>
            <h2><a style="text-decoration:none" href='http://sma-2020.github.io/'>The 9<sup>th</sup> International Conference on Smart Media and Applications (SMA 2020)</a></h2>
        </header>
    
        <h3><a style="text-decoration:none" href='http://sma-2020.github.io/'> Home</a> | <a style="text-decoration:none" href='http://sma-2020.github.io/committee/'>Committees</a> | <a style="text-decoration:none" href='http://sma-2020.github.io/papers/'>Call for Papers</a> | <a style="text-decoration:none" href='http://sma-2020.github.io/program/'>Program</a> | <a style="text-decoration:none" href='http://sma-2020.github.io/registration/'>Registration</a> | <a style="text-decoration:none" href='http://sma-2020.github.io/submission/'>Paper Submission</a></h3>
    <center>
</div>
<hr>
