<div>
    <center>
        <header>
            <h2><a style="text-decoration:none" href='http://sac-dash.github.io/2021/'>The 36<sup>th</sup> ACM/SIGAPP Symposium on Applied Computing</a></h2>
        </header>
    
        <h3><a style="text-decoration:none" href='http://sac-dash.github.io/2021/'> Home</a> | <a style="text-decoration:none" href='http://sac-dash.github.io/2021/committee/'>Committees</a> | <a style="text-decoration:none" href='http://sac-dash.github.io/2021/papers/'>Call for Papers</a> | <a style="text-decoration:none" href='http://sac-dash.github.io/2021/program/'>Program</a> | <a style="text-decoration:none" href='http://sac-dash.github.io/2021/registration/'>Registration</a> | <a style="text-decoration:none" href='http://sac-dash.github.io/2021/submission/'>Paper Submission</a></h3>
    <center>
</div>
<hr>
